<div style="display: none">name::{{ test }}</div>


<md-toolbar md-theme="green" class="app-toolbar md-green-theme md-whiteframe-z2 fix-top" >
    <div class="md-toolbar-tools" tabindex="0">
        <md-button class="menu-icon nornal-btn" ng-click="toggleRight()" aria-label="Toggle Menu">
            <md-icon icon="img/icons/ic_menu_24px.svg"></md-icon>
        </md-button>
        Форма авторизации:
    </div>
</md-toolbar>

<!--<md-input-container>-->
    <!--<label>Color</label>-->
    <!--<input type="text" ng-model="color" required md-maxlength="10">-->
<!--</md-input-container>-->



<login-form></login-form>